/**********************
*Police
**********************/
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:700&display=swap');
/**********************
*Home.blade
**********************/

.presentation{
    background-color:rgb(3, 95, 178);
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom:20px;
    font-family: 'Quicksand', sans-serif;
   
}

.slogan, .citation{
    color:white;
    text-align: center;
}

h2{
    font-size:2.5em;
}

blockquote{
    font-size:0.5em;
}

span.citation{
    font-style:italic; 
    font-size:0.45em;
}

.resume, .connexion{
    color:rgb(241, 82, 49);
    font-size:1.5em;
    font-family: 'Lobster', cursive;
}

a{
    color:white;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    font-size:0.7em;
}

a.connect{
    color:rgb(241, 82, 49);
}
a.connect:hover{
    text-decoration: none;
    color:rgb(3, 95, 178);
}

a.inscris, .btn-link{
    text-decoration: none;
}

a.inscris:hover{
    color:white;
}


.dejainscrit{
    color:rgb(3, 95, 178);
    padding-top:10px;
}

button, .btn-secondary{
    background-color:rgb(241, 82, 49);
    border:none;
    border-radius:5px;
    padding-right:5px;
    padding-left:5px;
    padding-bottom:5px;
    margin-bottom: 10px;
}
/*************************
*App.blade
*************************/
body{
	background:url(images/city2.png) bottom;
    background-attachment: fixed, scroll;
  background-repeat: no-repeat, repeat-y;
}

main{
   margin-top:30px;
}

/**********************
*account_form.blade
**********************/

.formulaire{
    font-family: 'Quicksand', sans-serif;
    margin-top:20px;
    background-color:rgba(241, 82, 49, 0.3);
    border-radius:10px;
    padding:20px;
}

legend{
    font-family: 'Lobster', cursive;

}

legend, input, fieldset{
    color:rgb(3, 95, 178);
}

label{
    color:rgb(241, 82, 49);
}

.btn-primary{
    background-color:rgb(3, 95, 178);
    border:none;
}

.btn-primary:hover{
    background-color: rgb(241, 82, 49);
}

.btn-secondary:hover{
    background-color:rgb(3, 95, 178);
}

/***********************
*login.blade
***********************/
.btn-link:hover{
    text-decoration:none;
    color:rgb(241, 82, 49);
}

form{
    border:none;
}